@charset "utf-8";
/* CSS Document */

ul.nav{
  display:inline-block;
  z-index:1000;
  color: #999999;
  padding: 0;
  position:relative;
  margin-left:62px;
  top:6px;
}

/*Refer to all sub ul*/
ul.nav li > ul, ul.nav li > ul li > ul{
  display: none;
  position: absolute;
  left:0;
  padding:0;
  width:200%;
  /*background: #444;*/
}

ul.nav li > ul li > ul{
  top:3px;

}

/*Refer to all list item */
ul.nav > li, ul.nav li > ul li, ul.nav li > ul li > ul li{
  list-style-type: none;
  display:inline-block;
  position: relative;
}

/*Refer to all anchor item*/
ul.nav > li a, ul.nav li > ul li a, ul.nav li > ul li > ul li a{
  text-decoration: none;
  display:block;
  padding: 0px 7px 0px 6px;
  
  /*Fonts*/
  color: #999;
  font-family:'PT Sans', sans-serif;
  font-size: 14px;
}

/*Refer to all anchor item :hover*/
ul.nav > li a:hover, ul.nav li > ul li a:hover, ul.nav li > ul li > ul li a:hover{
  color: #11b3c2;
  text-decoration: underline;
  font-family:'PT Sans', sans-serif;
  font-size: 14px;
}

.active{
	text-decoration: underline !important;
	color: #11b3c2 !important;
}
/*display sub-menu*/
ul.nav li:hover > ul{
  display:block;
  left:0;
}


/*CSS Arrows*/
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #fff;
    font-size: 1px;
    margin-left: 5px;
}

.arrow-right {
    width: 0; 
    height: 0; 
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff;
    font-size:2px;
    margin-left: 5px;
}